<link rel="import" href="../elements/past-work.html">
<style>

</style>

<div class="content">
  <div class="container" class="core-transition core-transition-bottom" layout vertical center>
  <id-card>
    <img width="100" height="100" src="../images/avatar.jpg">
    <h2>Previous Projects</h2>
    <div style="font-size: 22px; padding: 8px 0 16px; color: #888;">
      A collection of finished (and unfinished) projects I've worked on.
    </div>
    <p>Here are some things that I've done through school and work!</p>
  </id-card>
  </div>
  <past-work></past-work>

</div>